<div>
  <article class="media">
    <!--<div class="media-left">-->
      <!--<figure class="image is-64x64">-->
        <!--<img src="/images/round_profile_face.png" height="128px" width="128px">-->
      <!--</figure>-->
    <!--</div>-->
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= article.title %></strong>
          <br>
          <%= article.text.html_safe %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <%= link_to article_path(article) do %>
            <span class="icon is-small"><i class="fa fa-comment" aria-hidden="true"></i></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to edit_article_path(article) do %>
            <span class="icon is-small"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to  article_path(article),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } do %>
            <span class="icon is-small"><i class="fa fa-trash" aria-hidden="true"></i></span>
                <% end %>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>