<div>
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= link_to article_path(article) do %>
              <strong><%= article.title %></strong>
          <% end %>
          <br>
          <%= truncate(sanitize(article.text, tags: %w(b strong em i)), length: 800) { link_to " Continue reading", "article_path(article)" } %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <%= link_to article_path(article) do %>
            <span class="icon is-small"><i class="fa fa-comment" aria-hidden="true"></i></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to edit_article_path(article) do %>
            <span class="icon is-small"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to  article_path(article),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } do %>
            <span class="icon is-small"><i class="fa fa-trash" aria-hidden="true"></i></span>
                <% end %>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>